/* Base Styles */

body {
    font-family: 'Roboto', sans-serif;  /* Consistent font with homepage */
    background-color: #f4f4f4;          /* Light background color */
    color: #333333;                     /* Dark text color */
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;          /* Light background for the header */
    color: #333333;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Soft shadow for depth */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: #333333;
    cursor: pointer;
}

.nav-menu {
    display: none;
}

.hero {
    background: url('../images/rexburg.webp') no-repeat center center/cover;
    height: 60vh;                     /* Large hero image */
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for readability */
    padding: 2rem;
    border-radius: 10px;
}

.cta, .events, .weather, .spotlights {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;         /* Light background for sections */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Soft shadow for depth */
}

.cta h2, .events h2, .weather h2, .spotlights h2 {
    color: #333333;                    /* Dark text color for headings */
    margin-bottom: 1rem;
}

.btn {
    background-color: #333333;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b2beb5; /* Hover effect */
}

footer {
    background-color: #f4f4f4;  /* Light background color for the footer */
    color: #333333;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Shadow for separation */
}

footer p {
    margin: 0.5rem 0;
}
