/* Larger Screen Styles */
@media (min-width: 600px) {
    .nav-menu {
        display: flex;
        gap: 2rem;  /* Increase spacing between menu items */
    }

    .hamburger {
        display: none;
    }

    .hero {
        height: 70vh;  /* Larger hero section for larger screens */
    }

    .spotlights {
        display: flex;
        justify-content: space-around;
        gap: 20px;  /* Add spacing between spotlight items */
    }

    .spotlight {
        width: 30%;
    }

    .cta, .events, .weather, .spotlights {
        max-width: 1200px;  /* Limit section width on larger screens */
        margin: 20px auto;
        padding: 2rem;
    }

    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    .localPhotos {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for photos */
        gap: 10px;
    }

    .localPhoto:hover {
        transform: scale(1.05); /* Slight zoom effect on hover */
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }

    .main-content {
        margin-left: 20px; /* Add space between the sidebar and the main content */
    }
}