form {
    padding: var(--form-padding);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: var(--input-margin);
}

input, button {
    margin-top: var(--input-margin);
}

button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(76, 175, 80, 0.9);
}